.purchase-content{
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}

.input-form{
    margin-right: 10px;
}

.header-form{
    padding-left: 14%;
    // border-bottom: solid 1px #e0e0e0;
    margin-bottom: 10px;
}

.btn-group{
    padding-left: 20%;
}

.purchase-list{
    padding-left: 18%;
}

