
$primary-blue: #538CD5;
$primary-yellow: #FBCA49;
$primary-orange: #EE5926;
$primary-gray:#F8F8F8;
$secondary-gray:#BFBFBF;
$primary-green: #30A95A;
$secondary-blue: #3B81C2;
$accent-primary:#443e3e;
